:root {
  --default-font-family: 'Poppins', sans-serif;
  --brand-color: #FF6150;
  --secondary-color: #1AC0C6;
  --tertiary-color:#FEFBFB;
  --background-color:#DEE0E6;
  --text-color: #786F6F;
}

body {
  font-family: var(--default-font-family);
  margin: 0;
}

h1,h2,h3 {
  text-align: center;
}

p{
  color: var(--text-color);
  font-size: 20px;
}

h1 {
  color: var(--tertiary-color);
  font-size: 64px;
  line-height: 96px;
  font-style: medium;
  margin: 0;
}

h2 {
  color: var(--brand-color);
  font-size: 45px;
}

h3 {
  color: var(--brand-color);
}

a {
  color: var(--brand-color);
}

a:hover {
  color: #1AC0C6;
}

.hero {
  background: var(--brand-color);
  text-align: center;
  padding: 100px 20px 50px;

}

.hero h2, .sub-page-hero h2 {
  color: var(--tertiary-color);
  font-size: 32px ;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  
}

.btn-hero {
color: var(--tertiary-color);
background: var(--secondary-color);
padding: 15px 30px;
font-size: 25px;
box-shadow: 2px 2px 3px #786F6F;
}

.btn-branding:hover, .btn-hero:hover{
  color: var(--secondary-color);
  background: var(--tertiary-color);
}

.secondary-highlighted-text {
  color: var(--secondary-color);
  font-weight: 600;
}

.tertiary-highlighted-text {
  color: var(--text-color);
}

.branding-highlighted-text {
  color: var(--brand-color);
  font-weight: 100;
}

.quote-container {
  text-align: center;
  font-size: 30px;
  margin: 30px 100px 30px;
}

.btn-branding {
color: var(--tertiary-color);
background: var(--secondary-color);
padding: 10px 30px;
}

.card-container {
  margin-bottom: 30px;
}

.image-container {
  background: var(--background-color);
  padding:20px;
  border-radius: 10px;
}


.card-container p {
  text-align: center;
}

.card-container a {
 display: block;
 text-align: center;
 margin-top: 10px;
}

.button-container {
  display: block;
  margin: 0px auto;
  max-width: 200px;
}

.text-container {
  min-height: 130px;
}

.dark-background-section {
  padding: 10px 30px;
  background-color: var(--background-color);
}

.image-wrapper {
  padding: 30px;
  text-align: center;
}

.text-wrapper {
  padding: 60px 40px 40px;
}

.sub-page-hero {
  background-color: var(--brand-color);
   padding: 100px 20px 80px;
}

.technology-icons-wrapper {
margin-left:100px;
padding: 100px auto;
}

.light-background-section {
  padding: 10px 30px;
  margin: 20px;
}

.left-align-header {
  text-align: left;
}

.contact-section {
  text-align: center;
}
.contact-section p {
  text-align: center;
}

.social-network-links-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 50px;
}

.social-icon {
  margin: 10px;
  color: var(--secondary-color);
}

.logo {
  max-width: 45px;
  margin: 10px;
}

.brand-name {
  color: var(--brand-color);
}



@media (max-width:992px) {

  h1 {
    font-size: 40px;
    line-height: 1.5;
  }

  h2 {
    font-size: 30px;
  }

  .hero h2, .sub-page-hero h2 {
    font-size: 20px;
    line-height: 1.5;
  }
  .image-container {
    display: none;
  }


  .quote-container {
    font-size: 20px;
    margin: 30px;
  }
  
  .text-container {
    min-width:auto;
  }

  .profile-image {
    width: 200px;
  }

  .text-wrapper {
    text-align: center;
    padding-top:10px;
  }

  .text-wrapper p {
    font-size: 15px;
  }

  .text-wrapper h3 {
    text-align: center;
  }

  .technology-icons-wrapper {
    margin-left:40px;
    margin-top: 20px;
    padding: 10px auto;
  }

  .technology-icons-wrapper img {
    width: 80px;
  }

  .social-network-links-container {
    font-size: 30px;
  }
}